<div class="container-fluid bg-info mt-5 text-dark">
  <div class="row">
      <div class="col-4 text-center mt-2">
          <img src="../../../assets/img/OIP.jpeg" width="20%">
          <h5>L'autosalone più grande d'Europa</h5>
          <address>
              Via Egisto simoncini
          </address>
      </div>
      <div class="col-4 d-flex justify-content-around align-items-center">
          <a [routerLink]="['/']" class="menu">Home</a>
          <a [routerLink]="['/fiat']" class="menu">Fiat</a>
          <a [routerLink]="['/ford']" class="menu">Ford</a>
          <a [routerLink]="['/audi']" class="menu">Audi</a>
      </div>
  </div>
</div>
