<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://source.unsplash.com/collection/1475825/160x160" class="img-fluid rounded-start" alt="Immagine casuale di una persona">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user | fullName}}</h5>
        <p class="card-text">{{ user.title }}</p>
        <app-todo *ngFor="let todo of user.todos" [todo]="todo"></app-todo>
      </div>
    </div>
  </div>
</div>


