body { 
    font-family: "Roboto", sans-serif;
}

/*header*/
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ffc017;
    height: 4.6rem;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 1.5%;
    font-size: 10px;
}

a{
    text-decoration: none;
    color: #000000;
    margin-left: 8px;
    margin-right: 8px;
}

.button{
    border-radius: 15px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 7px 7px;
    font-size: small;
}


.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30em;
    height: auto;
}

/*scritta e M*/
.container {
    background-color: #ffc017;
    height: auto;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2em;
}

.scritta {
    font-size: 3em;
}

.button-m {
    border-radius: 15px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 40px;
    font-size: small;
}



.articolo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articolo {
    flex-basis: calc(33.333% - 20px);
    margin: 10px;
}

.news{
    display: flex;
    flex-direction: column;
    width: 40%;
}


.navbar{
    position: sticky;
    top: 0;
}







